<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home1">House Booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/home1">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(false)" routerLink="/register">Register</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" routerLink="/account">My Account</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" (click)="LogOut()" >Logout</a>
        </li>

        <div class="d-flex form-inputs">
          <input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search for location..."/>
          <i class="bx bx-search"></i>
      </div>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>