<div class="container">
    <p></p>
    <p></p>
    <p></p>
    <div class="row">
        <ng-container *ngFor="let product of  property">
            <div class="card col-md-3">
                <img src="../../assets/{{product.propertyImage}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyName}}</h5>
                <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.sellRent}}</h3>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyDescription}}</p>
                <p><strong>Price:</strong> ${{product.propertyPrice}}</p>
                <a  class="nav-link" routerLink="/#" class="btn btn-primary">Explore</a>
            </div>
           
        </ng-container>
        
    </div>
</div>